*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:'Libre Bodoni', serif;
    
  }
  
  /* Navbar Start */
  #navbar{
    background-color: rgb(245, 245, 220);
  }
  #logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
  }
  #logo span{
    color: #008080;
  }
  .navbar-toggler span{
    color: #008080;
  }
  .navbar-nav{
    margin-left: 20px;
  }
  .nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    
  }
  .nav-item .nav-link:hover{
    background: #008080;
    color: white;
  }
  #navbar form button{
    background:  #008080;
    color: white;
    border: none;
  }
  /* Navbar End */

   /* Home Section Start */
  

  
   .home{
    padding: 50px;
    margin-top: 0; 
    width:100%;
    height: 90vh;
    background: url('images/girl4.png'),url('images/bg1.png')no-repeat center fixed; 
    background-size: cover;
    
  }
  .home .content{
    text-align: center;
    padding-top: 200px;
  
  }
  .home .content h5{
    color:  #F5F5DC;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
  }
  .home .content h1{
    color: #F5F5DC;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
  }
  .home .content h4{
    color: #F5F5DC;

  }
  .changecontent::after{
  
    content: ' ';
    color:#008080;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
  }
  @keyframes changetext{
    0%{content: "Birthdays";}
    10%{content: "Weddings";}
    20%{content: "Maternity";}
    30%{content: "Private party";}
    40%{content: "Fashion shows";}
    50%{content: "Business";}
    60%{content: "Graduation";}
    70%{content: "Products";}
    80%{content: "Engagements";}
    90%{content: "Proposals";}
    100%{content: "Festivals";}
  } 
  .home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  .home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
  }
  .home .content a:hover{
    background: #008080;
    color: white;
  }
  @media (max-width:850px){
    .home{
        background-position: 50%;
    }
  }
  @media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
  }
  /* Home Section End */

  /* About Start */
.about
{
  padding: 50px;
  margin-top: 5x;
  background:#F5F5DC;
}
.about .card{
  border-radius: 10px;
  transition: 0.5s;
}

.about .card img:hover{
  transform: scale(1.1);
}
.about .card img{
  border-radius: 10px;
}
.about h2{
  font-weight: 600;
  letter-spacing: 1px;
}
.about p{
  font-weight: 500;
}
#about-btn{
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background:#008080;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
  cursor: pointer;
}
#about-btn:hover{
  width: 170px;
}
@media (max-width:765px){
  .about{
      padding: 0;
  }
}
/* About End */


  /* Section Book Start */
  .book{
    background: #F5F5DC;
    padding: 50px;
  }
  .main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
  }
  .main-text h1 span{
    color: #008080;
  }
  .book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
  }
  .book .card img{
    border-radius: 10px;
    transition: 0.5s;
  }
  .book.card img:hover{
    transform: scale(1.1);
  }
  .book .row{
    margin-top: 30px;
  }
  .book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
  }
  .book form text area{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
  }
  .book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #008080;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
  }
  .book .submit:hover{
    width: 170px;
  }
  @media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
  }
  /* Section Book End */

   /*section gallery starts */
   .gallery{
    padding: 50px;
    background-color: #F5F5DC;
    }
    .main-text h1{
      text-align: center;
      text-shadow: 0px 1px 1px black;
      font-weight: 600;
    }
    .main-text h1 span{
      color: #008080;
    }
    .gallery .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
    }
    .gallery .card img{
    border-radius: 10px;
    transition: 0.5s;
    }
    .gallery .card img:hover{
    transform: scale(1.1)
    }
    
    a.btn {
        background-color: #f8f9fa; 
        padding: 20px 0; 
    }
    
     a.btn {
        text-decoration: none; 
        font-size: 18px; 
        color: #fff; 
        background-color: #0c0b0b; 
        border: none; 
        padding: 10px 20px; 
        border-radius: 5px; 
        transition: background-color 0.3s; 
    }
    
     a.btn:hover {
        background-color: #FFBFBF; 
    }
    
    
  /*section gallery End */

   /* Section Packages Start */
   .packages{
    padding: 50px;
    margin-top: 0%;
    background-color: #F5F5DC;
  }
.main-txt h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
  color:#008080;
}
.packages .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}

.packages .card img{
  border-radius: 5px;
}
.packages .card .card-body{
  background: transparent;
}
.packages .card .card-body h3{
  font-size: 25px;
  font-weight: 600;
}
.packages .card .card-body p{
  font-size: 15px;
}
.checked{
  color: #008080;
}
.star i{
  font-size: 15px;
}
.packages .card .card-body h6{
  font-size: 20px;
}
.packages .card img{
  border-radius: 10px;
  transition: 0.5s;
}
.packages .card img:hover{
  transform: scale(1.1);
}
.packages .card .card-body a{
  padding: 10px;
  text-decoration: none;
  background:#008080;
  color: white;
  border-radius: 5px;
}
/* Section Packages End */



  /*section review starts*/

  rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
    background-color: #F5F5DC;
  }
  .review{
    padding: 50px;
    margin-top: 0%;
    background-color: #F5F5DC;
  }


  
  .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
  }
  
  .reviews{
    padding: 50px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .review{
    padding: 50px;
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
   
    }
  
  
  .body-review{
    background-color: rgb(245, 245, 220);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: rgb(58, 10, 10);
    font-style: italic;
  }
  .rating{
    color: #008080;
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }
  
  @media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }

  
/* Section reviews start */

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5DC;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
  width: 100%;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
 
  }

  img.service-image {

    border-radius: 5%;
  }


.body-review{
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: rgb(58, 10, 10);
  font-style: italic;
}
.rating{
  color: #008080;
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}
/* Section reviews End */

#footer{
    padding: 50px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #F5F5DC;
  }
  #footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
  }
  #footer h1 span{
    color: #008080;
  
    }
    
    .footer-container{
      width: 85%;
      background: #fff;
      padding: 20px 60px 30px 40px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    .container .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .container .content .left-side{
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      position: relative;
    }
    .content .left-side::before{
      content: '';
      position: absolute;
      height: 70%;
      width: 2px;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      background: #afafb6;
    }
    .content .left-side .details{
      margin: 14px;
      text-align: center;
    }
    .content .left-side .details i{
      font-size: 30px;
      color: #008080;
      margin-bottom: 10px;
    }
    .content .left-side .details .topic{
      font-size: 18px;
      font-weight: 500;
    }
    .content .left-side .details .text-one,
    .content .left-side .details .text-two{
      font-size: 14px;
      color: #afafb6;
    }
    .container .content .right-side{
      width: 75%;
      margin-left: 75px;
    }
    .content .right-side .topic-text{
      font-size: 23px;
      font-weight: 600;
      color: #008080;
    }
    .right-side .input-box{
      height: 50px;
      width: 100%;
      margin: 12px 0;
    }
    .right-side .input-box input,
    .right-side .input-box textarea{
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      background: #F0F1F8;
      border-radius: 6px;
      padding: 0 15px;
      resize: none;
    }
    .right-side .message-box{
      min-height: 110px;
    }
    .right-side .input-box textarea{
      padding-top: 6px;
    }
    .right-side .button{
      display: inline-block;
      margin-top: 12px;
    }
    .right-side .button input[type="button"]{
      color: #fff;
      font-size: 18px;
      outline: none;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      background: #008080;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .button input[type="button"]:hover{
      background: #008080;
    }
    @media (max-width: 950px) {
      .container{
        width: 90%;
        padding: 30px 40px 40px 35px ;
      }
      .container .content .right-side{
       width: 75%;
       margin-left: 55px;
    }
    }
    @media (max-width: 820px) {
      .container{
        margin: 40px 0;
        height: 100%;
      }
      .container .content{
        flex-direction: column-reverse;
      }
     .container .content .left-side{
       width: 100%;
       flex-direction: row;
       margin-top: 40px;
       justify-content: center;
       flex-wrap: wrap;
     }
     .container .content .left-side::before{
       display: none;
     }
     .container .content .right-side{
       width: 100%;
       margin-left: 0;
     }
    }
  
  .social-links i{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background:#f8f9fa;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .social-links i:hover{
    background:#008080;
  }
  a.btn {
    background-color: #f8f9fa; 
    padding: 20px 0; 
  }
  
  a.btn {
    text-decoration: none; 
    font-size: 18px; 
    color: #0c0b0b; 
    background-color: F0F1F8; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  
  a.btn:hover {
    background-color: #008080; 
  }
  /* Footer End */